@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

*{
    box-sizing: border-box;
}

body{
    background: rgb(228, 227, 227);
    font-family: 'Muli',sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    width: 300px;
    height: 170px;
    background: #f7f5f5;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.4s ease;
}

.card:hover {
    height: 350px;
}

.card .profile-img{
    width: 150px;
    height: 150px;
    background: #f1f1f1;
    position: absolute;
    left:50%;
    top: -75px;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 0.4s ease;
}

.card .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .profile-img{
    width: 200px;
    height: 200px;
}

.card .user{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .user .user-detail{
    width:100%;
    padding:20px;
    text-align: center;
    transform: translateY(140px);
    transition: 0.4s ease;
}

.card:hover .user .user-detail{
    transform: translateY(0px);
}

.card .user .user-detail h1{
    font-size:1rem;
    font-weight: 600;
    text-align: center;
}

.card .user-detail h1 > span{
    font-size:0.8rem;
    color: #999;
    font-weight: 600;
}

.card .user .user-detail .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.card .user .user-detail .user-info h3{
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

.card .user .user-detail .user-info h3 > span{
    font-size: 0.7rem;
    color: #999;
    font-weight:800;
}

.card .user .user-detail .action-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .user .user-detail .action-btns button{
    margin: 10px 10px;
    padding: 10px 30px;
    border-radius: 5px;
    border:none;
    background: #ec068c;
    color: #fff;
}

.card .user .user-detail .action-btns button:active{
    transform: scale(0.96);
}


.card .user .user-detail .action-btns button:last-child{
    background-color: #fff;
    color: #999;
    border: 1px solid rgba(0, 0, 0, 0.3)
}
